<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <header th:fragment="header">
        <nav class="blue darken-1">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">设备控制台</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/device"><i class="material-icons left">devices</i>设备列表</a></li>
                    <li><a href="/logout"><i class="material-icons left">exit_to_app</i>退出</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-nav">
            <li><a href="/device"><i class="material-icons left">devices</i>设备列表</a></li>
            <li><a href="/logout"><i class="material-icons left">exit_to_app</i>退出</a></li>
        </ul>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems);
            });
        </script>
    </header>
</body>
</html>






